Repository HYF-Class20/agile-development-group1-loruki, pull requests merged in 2023-04, with the labels that each got.

#2 Created a README.md
  README.md
Labels: README.md

#3 Readme update
  README.md
Labels: README.md

#7 Created Communication
  README.md
  planning/communication.md
Labels: documentation, communication

#11 User persona
  planning/user-personas.md
Labels: User-persona

#13 User pers update
  planning/backlog.md
  planning/user-personas.md
Labels: User-persona

#15 created Wireframe
  planning/design.md
  planning/wireframe.svg
Labels: wireframe

#12 Backlog created
  planning/backlog.md
Labels: backlog

#16 updated Readme.md
  README.md
Labels: bug, README.md

#21 Dev strategy
  code/img/cli.png
  code/img/cloud.png
  code/img/docs.png
  code/img/favicon.png
  code/img/logos/clojure.png
  code/img/logos/csharp.png
  code/img/logos/go.png
  code/img/logos/node.png
  code/img/logos/php.png
  code/img/logos/python.png
  code/img/logos/ruby.png
  code/img/logos/scala.png
  code/img/npm.png
  code/img/server.png
  code/img/server2.png
  code/index.html
  planning/development-strategy.md
Labels: dev-strategy

#22 Retrospective
  planning/retrospective.md
Labels: retrospective
